@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    height: 300px;
    width: 280px;
    text-align: center;
    border: 5px solid black;
    border-width: ;
    background-color: cadetblue;
}

.a1 {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.a1:hover {
    color: blueviolet;
}

.i1 {
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px dashed crimson;
}

.i1::selection {
    border: none;
    box-sizing: none;
}